
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate{
        padding: 10px 0;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	    margin: 2px;
        float: right;
    }
    div.dataTables_wrapper div.dataTables_filter {
	    float: left;
    }
    table.wooproddel-calendar th, 
    table.wooproddel-calendar td{
        font-size: 14px;
    }
    table.wooproddel-calendar th{
        font-weight: bold;
    }
    input[type="submit"]{
        margin-top: 20px;
    }
    .button-primary {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px 2px 2px !important;
        cursor: pointer;
    }
